node_modules
.next
out
dist
.env
.env.local
.env*.local
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
supabase/.temp/
~$*.docx
*Senhas*.docx
*senhas*.docx
*senha*.txt
*senhas*.txt
